#yellow_bar_chart { 
    fill: yellow; 
    stroke:black; }

#green_bar_chart { 
    fill: green; 
    stroke:white; }


#line_line_chart{
    stroke: black;
}


#path_line_chart{
    stroke:black;
    stroke-dasharray: 10;

}

#pie {
    fill: cyan; 
    stroke:black;
    stroke-width: 3;
}

#wedge{
    fill: blue;
    stroke:black;
    stroke-width: 3;
}